@import '@fontsource/be-vietnam-pro';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/typeset.scss';

@import './styles/color.scss';

* {
  font-family: 'Be Vietnam Pro', sans-serif !important;
}

.layout {
  max-width: 1280px;
  margin: 0 auto;
}
